@font-face {
  font-family: 'fractal';
  font-style: normal;
  font-weight: normal;

  src: url('/my-homepage-react/FRACTAL.ttf') format('truetype');
}

#App {
  height: 100vh;
  background: url("/my-homepage-react/Wallpapers/1089203-final.jpg") 0% 60% /cover no-repeat;
}