@font-face {
  font-family: 'fractal';
  font-style: normal;
  font-weight: normal;

  src: url('FRACTAL.ttf') format('truetype');
}

#App {
  height: 100vh;
  background: url("/Wallpapers/1089203-final.jpg") 0% 60% /cover no-repeat;
}